<!DOCTYPE html>
<html lang="en">
<head>
    <title>Landmarker</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/viewport.css" rel="stylesheet">
</head>
<body>

<div class="viewport"></div>

<script type="text/template" id="landmark-template">
    <table>
        <thead>
        <tr>
            <th>x</th>
            <th>y</th>
            <th>z</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(landmarks, function(lm) { %>
        <tr>
            <td><%= lm.get('point') !== null %></td>
            <td><%= lm.get('point').y %></td>
            <td><%= lm.get('point').z %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</script>

<script src="js/libs/three.js"></script>
<script src="js/libs/jquery-2.1.0.js"></script>
<script src="js/libs/bootstrap.js"></script>
<script src="js/libs/underscore.js"></script>
<script src="js/libs/system.min.js"></script>
<script src="js/libs/signals.min.js"></script>
<script src="js/UI.js"></script>

<script src="js/loaders/BinaryLoader.js"></script>
<script src="js/loaders/ColladaLoader.js"></script>
<script src="js/loaders/OBJLoader.js"></script>
<script src="js/loaders/PLYLoader.js"></script>
<script src="js/loaders/STLLoader.js"></script>
<script src="js/loaders/UTF8Loader.js"></script>
<script src="js/loaders/VTKLoader.js"></script>
<script src="js/loaders/ctm/lzma.js"></script>
<script src="js/loaders/ctm/ctm.js"></script>
<script src="js/loaders/ctm/CTMLoader.js"></script>

<script src="js/utils.js"></script>
<script src="js/viewer.js"></script>
<script src="js/parser.js"></script>
<script src="js/landmark.js"></script>
<script src="js/camera.js"></script>
<script src="js/rest.js"></script>
<script src="js/main.js"></script>

<div>
    <p class="mesh-points">The points is </p>
    <p class="mesh-trilist">The trilist is </p>
</div>

</body>

</html>
