<!DOCTYPE html>
<html lang="en">
<head>
    <title>Landmarker.js</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width user-scalable=no">
    <link href="css/landmarker.css" rel="stylesheet">
    <script data-main="js/apptest.js" src="js/require.js"></script>
</head>
<body>
<div class="Sidebar">
    <div class="Sidebar-LandmarksPanel">
    </div>
</div>

<script id="trTemplate" type="text/template">
    <tr id="lm<%= i %>">
        <td class="Table-Cell Table-Cell-Count"><%= i %></td>
        <td class="x"><%= x %></td>
        <td class="y"><%= y %></td>
        <td class="z"><%= z %></td>
    </tr>
</script>


<script id="tableHeader" type="text/template">
        <thead>
        <tr>
            <th class="Table-Cell Table-Cell-Header"></th>
            <th class="Table-Cell Table-Cell-Header">x</th>
            <th class="Table-Cell Table-Cell-Header">y</th>
            <th class="Table-Cell Table-Cell-Header">z</th>
        </tr>
        </thead>
</script>

<script id="landmarkGroupLabel" type="text/template">
<button class="Button-LandmarkGroup" id="<%= label %>"><%= labelFormatted %></button>
</script>

</body>

</html>
