<!DOCTYPE html>
<html lang="en">
<head>
    <title>Landmarker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="css/landmarker.css" rel="stylesheet">
</head>

<body>

<div class="Overlay-Background"></div>
<div class="Overlay">
    <div class="Overlay-Sheet">
        <label for="filter"></label>
        <input type="text" class="text-input" id="filter" value="" />
    </div>
</div>
<div class="App" style="height: 100%;">
    <div class="App-Viewport">
        <div class="viewport" style="position: fixed;"></div>
        <div class="App-Viewport-Toolbar">
            <div class="Toolbar">
                <button class="Button-Basic">Texture</button>
                <button class="Button-Basic">Numbering</button>
            </div>
            <div class="Toolbar-Spacer"></div>
        </div>
    </div>
    <div class="App-Sidebar">
        <div class="Sidebar">
            <div class="Sidebar-row">
                <button class="Sidebar-row-item MeshName">
                    patrick_01
                </button>
                <button class="Sidebar-row-item MeshCount">
                    001/112
                </button>
            </div>
            <div class="Sidebar-row">
                <div class="Sidebar-row-item">
                    <button class="Button-Save"
                            id="saveLandmarks">Save</button>
                </div>
                <div class="Sidebar-row-item">
                    <button class="Button-Revert">Revert</button>
                </div>
            </div>
            <div class="Sidebar-item">
                <button class="Button-LabelSelect">l_eye</button>
                <button class="Button-LabelSelect">r_eye</button>
                <button class="Button-LabelSelect">mouth</button>
                <button class="Button-LabelSelect">nose</button>
            </div>
            <div class="Sidebar-item">
                <div class="Sidebar-row">
                    <button class="Sidebar-row-item LabelName">
                        nose
                    </button>
                    <div class="Sidebar-row-item LabelCount">
                        05/06
                    </div>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th class="Table-Cell Table-Cell-Header"></th>
                        <th class="Table-Cell Table-Cell-Header">x</th>
                        <th class="Table-Cell Table-Cell-Header">y</th>
                        <th class="Table-Cell Table-Cell-Header">z</th>
                    </tr>
                    </thead>
                    <tr>
                        <td class="Table-Cell Table-Cell-Count">1</td>
                        <td>3.53</td>
                        <td>9.25</td>
                        <td>-3.46</td>
                    </tr>
                    <tr class="Table-Row-Odd Table-Row-Selected">
                        <td class="Table-Cell Table-Cell-Count">2</td>
                        <td>-13.53</td>
                        <td>4.25</td>
                        <td>-5.46</td>
                    </tr>
                </table>
            </div>
            <div class="Sidebar-row">
                <div class="Sidebar-row-spacer">
                </div>
                <div class="Sidebar-row-item">
                    <button class="Button-Basic"
                            id="previousMesh">Previous</button>
                </div>
                <div class="Sidebar-row-item">
                    <button class="Button-Basic" id="nextMesh">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="trTemplateEven" type="text/template">
    <tr id="lm<%= i %>">
        <td class="Table-Cell Table-Cell-Count"><%= i %></td>
        <td class="x"><%= x %></td>
        <td class="y"><%= y %></td>
        <td class="z"><%= z %></td>
    </tr>
</script>

<script id="trTemplateOdd" type="text/template">
    <tr class="Table-Row-Odd" id="lm<%= i %>">
        <td class="Table-Cell Table-Cell-Count"><%= i %></td>
        <td class="x"><%= x %></td>
        <td class="y"><%= y %></td>
        <td class="z"><%= z %></td>
    </tr>
</script>


<script src="js/libs/three.js"></script>
<script src="js/libs/jquery-2.1.0.js"></script>
<script src="js/libs/bootstrap.js"></script>
<script src="js/libs/underscore.js"></script>
<script src="js/libs/system.min.js"></script>
<script src="js/libs/signals.min.js"></script>
<script src="js/UI.js"></script>

<script src="js/loaders/BinaryLoader.js"></script>
<script src="js/loaders/ColladaLoader.js"></script>
<script src="js/loaders/OBJLoader.js"></script>
<script src="js/loaders/PLYLoader.js"></script>
<script src="js/loaders/STLLoader.js"></script>
<script src="js/loaders/UTF8Loader.js"></script>
<script src="js/loaders/VTKLoader.js"></script>
<script src="js/loaders/ctm/lzma.js"></script>
<script src="js/loaders/ctm/ctm.js"></script>
<script src="js/loaders/ctm/CTMLoader.js"></script>

<script src="js/utils.js"></script>
<script src="js/viewer.js"></script>
<script src="js/parser.js"></script>
<script src="js/landmark.js"></script>
<script src="js/camera.js"></script>
<script src="js/rest.js"></script>
<script src="js/main.js"></script>


</body>

</html>
