html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.App {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

.App-Viewport {
    flex: 2;
    background: #999999;
}

.App-Sidebar {
    flex: 1;
    align-items: center;
}

.Sidebar {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

.Sidebar-item {
    flex: 1;
}

.Sidebar-button {
    flex: 1 auto;
}

.Sidebar-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.Sidebar-row-item {
    flex: 1;
}

button {
    border: none;
    background: white;
    outline: none;
    width: 100%;
    height: 40px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: larger;
}

button:disabled {
    opacity: 0.33;
}

button:active {
    background: #2D77C2;
}

.Button-Basic {
    background: #0A4EB2;
    color: white;
    width: 100%;
}

.Button-LabelSelect {
    background: #0A4EB2;
    color: white;
}

.Button-Save {
    color: white;
    background: #5FB632;
}

.Button-Revert {
    color: white;
    background: #B91109;
}

.MeshName {
    color: #B91109;
    background: white;
    font-size: x-large;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    text-align: left;
}

.MeshCount {
    color: black;
    background: white;
    margin-right: 16px;
    font-size: x-large;
    text-align: right;
}

.LabelName {
    color: #B91109;
    font-size: large;
    font-weight: bold;
    margin-left: 16px;
    text-align: left;
}

.LabelCount {
    margin-right: 16px;
    font-size: large;
    text-align: right;
}

td {
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
}

th {
    padding-top: 6px;
    padding-bottom: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.Table-Cell-Count {
    background: #2D77C2;
    color: white;
}

.Table-Row-Odd {
    background: #DCDEE2;
}

.Table-Cell-Selected {
    font-weight: bold;
}

.Table-Cell-Header {
    background: #0A4EB2;
    color: white;
}


.App-Viewport-Toolbar {
    display: flex;
    min-height: 100vh;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.Toolbar {
    z-index: 1;
}

.Toolbar-Spacer {
    flex: 1;
}

.Overlay-Background {
    position: fixed;
    background: rgba(54, 25, 25, .5);
    z-index: 2;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.Overlay {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    z-index: 3;
    position: absolute;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.Overlay-Sheet {
    flex: 1;
    height: 80vh;
    max-width: 50vw;
    text-align: center;
    background: white;
}

input, textarea, select{font-family:inherit;}

input {
    font-size: 150%;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
